<section>
    <ngb-carousel class="slider">
        <ng-template ngbSlide>
            <!-- <img src="../assets/banner.jpg" alt="Slider 1" > -->
            <li class="img1 img-fluid">
                <br><br>
                <div class="center ">
                    <h2> My Business <span>Template</span> </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, vero!</p>
                    <i class="fa fa-apple"></i>
                    <i class="fa fa-android"></i>
                    <i class="fa fa-windows"></i>
                    <br>
                    <br>
                    <a href="" class="btn btn-half">Get Started</a>
                    <a href="" class="btn btn-full">Buy Now</a>
                </div>
                <div class="carousel-caption">
                    <h3 style="color: yellow" >Slider 1</h3>
                </div>
            </li>
        </ng-template>
        <ng-template ngbSlide>
            <li class="img2">
                <br><br>
                <div class="center">
                    <h2> My Business <span>Template</span> </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, vero!</p>
                    <i class="fa fa-apple"></i>
                    <i class="fa fa-android"></i>
                    <i class="fa fa-windows"></i>
                    <br>
                    <br>
                    <a href="" class="btn btn-half">Get Started</a>
                    <a href="" class="btn btn-full">Buy Now</a>
                </div>
                <div class="carousel-caption">
                    <h3 style="color: yellow">Slider 2</h3>
                </div>
            </li>
        </ng-template>
        <ng-template ngbSlide>
            <li class="img3">
                <br><br>
                <div class="center">
                    <h2> My Business <span>Template</span> </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, vero!</p>
                    <i class="fa fa-apple"></i>
                    <i class="fa fa-android"></i>
                    <i class="fa fa-windows"></i>
                    <br>
                    <br>
                    <a href="" class="btn btn-half">Get Started</a>
                    <a href="" class="btn btn-full">Buy Now</a>
                </div>
                <div class="carousel-caption">
                    <h3 style="color: yellow">Slider 3</h3>
                </div>
            </li>
        </ng-template>
    </ngb-carousel>
</section>