<section class="intro-area" id="clients">
    <div class="container">
       <div class="row">
          <div class="col-sm-12 text-center">
             <h2>Work with Smile</h2>
             <div class="sub-heading">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, mollitia.<br>
                   Saepe delectus doloremque exercitationem harum obcaecati.</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-4">
             <div class="intro-block">
                <span class="intro-icon"><i class="fa fa-angellist"></i></span>
                <h3>Unique designs</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   <br> Neque nam accusantium corrupti numquam debitis! Corrupti quam cupiditate
                   <br> officiis facere rem.
                </p>
             </div>
          </div>
          <div class="col-sm-4">
             <div class="intro-block">
                <span class="intro-icon"><i class="fa fa-angellist"></i></span>
                <h3>Unique designs</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   <br> Neque nam accusantium corrupti numquam debitis! Corrupti quam cupiditate
                   <br> officiis facere rem.
                </p>
             </div>
          </div>
          <div class="col-sm-4">
             <div class="intro-block">
                <span class="intro-icon"><i class="fa fa-paint-brush"></i></span>
                <h3>Unique designs</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   <br> Neque nam accusantium corrupti numquam debitis! Corrupti quam cupiditate
                   <br> officiis facere rem.
                </p>
             </div>
          </div>
       </div>
    </div>
 </section>